<div class="print_display_opts">
  <%= form_tag({:controller => :print, :action => "index"}, :method => "get", :class => "state_chooser") do %>

      <div class="form_row">
        <label for="state[]">States:</label>
        <% @state_selection.each do |s| %>
            <br><%= check_box_tag 'state[]', s, (params[:states] || {}).include?(s) %>
            <%= s %>
        <% end %>
      </div>

      <div class="print_filter_button">
        <%= submit_tag("Filter Stories", :class => 'print_filter_button rounded_button') %>
      </div>
  <% end %>
</div>

<%= form_tag do %>
    <%= submit_tag("Print selected items", :class => 'rounded_button print_button') %>
    <div class="projects">
      <% if !Token.get_token %>
          <div id="error"></div>
          Please set your Pivotal tracker token in order to access project data.
          <br/>Log in to your account at
          <a href="http://www.pivotaltracker.com">Pivotal Tracker</a> site and you will find it under the profile menu. </div>
      <% elsif @projects.nil? %>
          <div id="error">No project data could be retrieved from Pivotal Tracker</div>
      <% else %>
          <% @projects.each do |p| %>
              <% stories = get_filtered_stories(p) %>
              <% unless stories.nil? %>
                  <div class="project">
                    <div class="header">
                      <%= p.name %>
                    </div>
                    <div class="stories">
                      <%= render :partial => "story", :collection => stories, :locals => {:project_id => p.id} %>
                    </div>
                  </div>
              <% end %>
          <% end %>
      <% end %>
      </div>
<% end %>
