<!DOCTYPE html>
<html>
<head>
  <title>PivotalOverview</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="token_input">
  <%= form_tag(:controller, :method => "get") do%>
    <%= label_tag(:token, "Enter your Pivotal Tracker Token:") %>
    <%= text_field_tag(:token) %>
    <%= submit_tag("Submit") %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
